.fighter-preview___root {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.fighter-preview___right {
    align-items: flex-end;
}

.fighter-preview___right img {
    transform: scaleX(-1);
    height: 400px;
}

.fighter-preview___left {
    align-items: flex-start;
}

.fighter-preview___left img {
    align-items: flex-start;
    height: 400px;
}